<header>
   <%= render 'layouts/header' %>
</header>
<br>

<h2>Filmes em cartaz</h2>
<br>
<div class="row">
<div class="col s12">

         <%= render 'layouts/filmebusca' %>
</div>
</div>
 
    <%= render 'layouts/footer' %>  

