<header>
   <%= render 'layouts/header' %>
</header>   
   
      <div class="row">
        <div class="col s12  center fundo2">
            <h2>Contato</h2> </div>
            <br>
            <br>
            <b>
            <div class="col s12  center">
            <p>Gostaria de entrar em contato conosco? Nos deixe uma mensagem ;)</p> 
         <br>
            <br>
            <br>
            <br></div>
      
      
      <div class="row container">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="text" name="nome" placeholder="Digite o seu nome" maxlength="70" required> 
                    <label for="nome">Nome</label> 
                </div>
                <div class="input-field col s12 m6">
                    <input type="email" name="email" placeholder="exemplo@email.com" maxlength="70" required>
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="assunto" placeholder="Digite o assunto" maxlength="100" required>
                    <label for="assunto">Assunto</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="mensagem" placeholder="Digite sua mensagem" maxlength="2000" data-length="2000"></textarea>
                    <label for="assunto">Mensagem</label> 
                </div>
            </div>           
            
            <div class="row right-align">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light blue accent-4" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
      
      
      
      

           
    </div>
    </div>
     </div>
    
     <%= render 'layouts/footer' %>