<header>
   <%= render 'layouts/header' %>
</header>

<div class="row fundoindex center-align">
      <div class="col s12"><h1>Bem vindo ao AskCine</h1></div>
      <div> <%= render 'layouts/modal-login' %> </div>
</div>

<div class="row container center-align">
   <div class="col s12"><h2>Sobre o Projeto</h2>
   <p class="flow-text">O projeto AskCine é um buscador de sessões de cinema, que também conta com informações sobre os filmes e os cinemas. Há duas ferramentas de pesquisa, uma pesquisa é destinada a mostrar todos os cinemas próximos ao usuário e outra é uma pesquisa onde o usuário direciona filtros destinados ao filme que ele deseja assistir. Este trabalho foi desenvolvido pelos alunos da Faculdade de Tecnologia da Baixada Santista - Rubens Lara inicialmente focado em cinemas da baixada santista. </p>
   </div>
</div>
<div class="row fundoindex center-align">
   <h2>Lançamentos</h2>
         <%= render 'layouts/filmebusca' %>
   
</div>
<br><br><br><br>
   <%= render 'layouts/footer' %>