<header>
   <%= render 'layouts/header' %>
</header>
<div class="row fundoindex center-align">
      <div class="col s12"><h2>Bem vindo ao AskCine</h2></div>
   <%= render 'layouts/modal-login' %>
      </div>

<div class = 'container-body'>EM CONSTRUÇÃO</div>

<br><br><br><br><br><br>
   <%= render 'layouts/footer' %>