<%= render 'layouts/header' %>
    <h2>Mostrando Sessões de CINEMARK PRAIAMAR</h2>
    
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <img src="https://i.imgur.com/2QTTzs0.png" width="400">
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 center-align">
                <img src="https://i.imgur.com/bykZTRV.png" width="400">
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 center-align">
                <img src="https://i.imgur.com/yXZ8rQ5.png" width="400">
            </div>
        </div>
    </div>

<%= render 'layouts/footer' %>
   