
<header>
   <%= render 'layouts/header' %>
</header>


<h2 onload="pegaHora()">Sessões</h2>
<div class="container">
    
   <%= render 'layouts/sessaofilme' %>

<br>


        <%= link_to 'Voltar', lancamentos_path %>

<br><br><br><br><br><br>
</div>
   <%= render 'layouts/footer' %>