<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>

<div class="row fundoindex center-align">
      <div class="col s12"><h1>Bem vindo ao AskCine - Administrador</h1></div>
      <div> <%= render 'layouts/modal-login' %> </div>
</div>

<div class="row fundoindex center-align">
   <h2>Fazer Painel</h2>
   
</div>
<br><br><br><br>
   <%= render 'layouts/footer' %>

<% else %>
   <%= render 'layouts/valida' %>
<% end %>


