<header>
   <%= render 'layouts/header' %>
</header>   
   
      <div class="row">
        <div class="col s12  center fundo2">
            <h2>Sobre</h2> </div>
            
            <div class="col s12 fundos">
            <p>O projeto AskCine é um buscador de sessões de cinema, que também 
            conta com informações sobre os filmes e os cinemas. </p>
            <p>Há duas ferramentas de pesquisa, uma pesquisa é destinada a encontrar
            o filme que deseja informação e ao clicar nele ver todas as sessões e
            todos os cinemas onde ele está em cartaz, e a segunda busca por cinema.</p> 
            <p>Este trabalho foi desenvolvido pelos alunos 
            da Faculdade de Tecnologia da Baixada Santista - Rubens Lara inicialmente focado 
            em cinemas da baixada santista.</p>
           
    </div>
    </div>
    
     <%= render 'layouts/footer' %>