<%= render 'layouts/header' %>
<h1>Deseja escrever noticias de cinema? Se inscreva para ser um colaborador!</h1>
<h2>Mais informações entrar em contato com: 13 91234 5678 </h2>
<%= render 'layouts/footer' %>
