<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h1>Inserir Sessão</h1>

<%= render 'form', sessao: @sessao %>

    <i class="material-icons left">chevron_left</i>

        <%= link_to 'Voltar', filmes_path %>
 
 </div>
 <%= render 'layouts/footer' %>
