@import "materialize";
@import "material_icons";

body {
    background-color: white;
    color: black;

}
.container-body {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.fundoindex{
    color:white;
    background-image: url('fundoindex.png');
    padding: 3rem;
    padding-top: 8rem;
    margin-top: 3rem;
}
.estufado{
    padding-right: 4rem;
    
}
.sinopse{
     padding-right: 7rem;   
}
.objectImage {
    height: 170px;
    object-fit: cover;
    object-position: top;
}

.menu {
    color: red;
}
#log{
    margin-right: 3rem;
    margin-left: 2rem;
}

nav .nav-wrapper {
    position: relative;
    height: 120%;
}

.filmes1{
    padding: 30px;
}

icons{
    color: blue;
}

h2{
    color: #42a5f5;
    text-align: center
}

