<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<<<<<<< HEAD
<h1>Novo Filme</h1>
=======
<h1>New Filme</h1>
>>>>>>> 60fae08845b044acfa0b699860a1f3ea77368b88

<%= render 'form', filme: @filme %>
<br>

<div class="actions waves-effect waves-light white-text black btn">
    <i class="material-icons left">chevron_left</i>
<<<<<<< HEAD
        <%= link_to 'Voltar', filmes_path %>
</div>

</div>
>>>>>>> 60fae08845b044acfa0b699860a1f3ea77368b88
=======
        <%= link_to 'Back', filmes_path %>
</div>

</div>
>>>>>>> 60fae08845b044acfa0b699860a1f3ea77368b88
