<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h2>Novo Filme</h2>

<%= render 'form', filme: @filme %>
<br>


    <i class="material-icons left">chevron_left</i>

        <%= link_to 'Voltar', filmes_path %>
</div>

</div>
<br>
<br>

 <%= render 'layouts/footer' %>