   
<% @cinemas.each do |cinema| %> 
    
    <div class="col s12 m3 container">
       <%= cinema.nome %>
       <p><%= link_to 'Ver Cinema', cinema %></p>
         </div>
         
     <% end %>    
     
