
    <% @filmes.each do |filme| %> 
    <div class="col s12 m3 black-text">
      <div class="card">
        <div class="card-image">
          <img class="objectImage" src="<%= filme.imagem %>" alt="Poster do filme <%= filme.nome %>">
          <span class="card-title"><%= filme.nome %></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
        </div>
        <div class="card-content">
          <p><%= filme.sinopse %></p>
        </div>
      </div>
     </div>
     <% end %>
            