 <footer class="page-footer grey darken-4">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Askcine</h5>
                <p class="grey-text text-lighten-4">Encontre em um só lugar todos os horários diponíveis nos cinemas da sua região.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Pesquisar cinema</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Pesquisar filmes</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lançamentos</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
          </div>
          <div class="footer-copyright blue">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Outros Links</a>
            </div>
          </div>
        </footer>