<div class="col s12"><h3>Você ainda não efetuou o login</h3></div>
<div class="col s12">
    <a class="waves-effect waves-light white-text black btn-large modal-trigger" href="#modal1">
        <i class="material-icons left">person</i>Logar</a>
</div>

<div id="modal1" class="modal">
    <div class="modal-content blue-text text-darken-2">
      <h4>Login</h4>
      
        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Usuário</label>
        </div>
 
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
      </div>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
  
<script>
     $(document).ready(function(){
    $('.modal').modal();
  });
        
</script>