    
  <% if user_signed_in? %>  
      <h2>Bem vindo: <%= current_user.username %></h2>
      <%= link_to "Sair do Askcine",  destroy_user_session_path, method: :delete, :class => "waves-effect waves-light white-text black btn-large" %>
  <% else %>
     <div class="col s12">
		<h3 id="h3dologin">Você ainda não efetuou o login</h3>
	 </div>
	 <div class="col s12">
	   	<%= link_to  new_user_session_path, :class => 'waves-effect waves-light white-text black btn-large' do %>
  	      	<i class="material-icons left">person</i>Logar
  		<% end %>
		</div>
  <% end %> 

