<div class="carousel carousel-slider center">
    
    <% @postagems.each do |postagem| %> 
    <div class="carousel-item white black-text" href="#one!">
      <h3><%= postagem.titulo %></h3>
      <h4>Feito por:<%= postagem.user.username %></h4>
      
      <p class="black-text texto-noticia"><%= postagem.conteudo %></p>
    </div>
    </div>
   <% end %>
        
<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script>