
<div class="card-image">
<div class="carousel carousel-slider left" data-indicators="true">
    
    <% @postagems.each do |postagem| %> 
    
    <div class="carousel-item" href="one!">
      
      <div class="row">
    <div class="card horizontal blue-grey lighten-4">
      <div class="col s4">
      <div class="card-image">
         <img class="activator"  src="<%= postagem.imagem %>" alt="Poster do filme <%= postagem.titulo %>">
      </div>
      </div>
      <div class="col s5 flow-text">
        <div class="card-stacked">
          <div class="card-content black-text">
            <p class="black-text"><h4><%= postagem.titulo %></h4></p>
            <p class="black-text"><%= postagem.conteudo %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

   <% end %>

    </div>  
    </div>
<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script>