
    
<% @postagems.each do |postagem| %> 
    

    <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
         <img class="activator"  src="<%= postagem.imagem %>" alt="Poster do filme <%= postagem.titulo %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text"><h4><%= postagem.titulo %></h4></p>
          <p class="black-text"><%= postagem.conteudo %></p>
    
        </div>
      </div>
    </div>
  </div>
          
   
   <% end %>
   

<script>
$(document).ready(function(){
    $('.icone').html('play_arrow');
});
</script>            
        
