<div class="carousel carousel-slider center">
    
    <% @postagems.each do |postagem| %> 
    
    <div class="fundoc carousel-item black-text" href="#one!">
      
    
     
      <h3><%= postagem.titulo %></h3>
      <p>Feito por:<%= postagem.user.username %></p>
      
      <p class="black-text texto-noticia"><%= postagem.conteudo %></p>
    </div>
    </div>
   <% end %>
        
<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script>