<div class="flexslider">
    <ul class="slides">
    
        <% @postagems.each do |postagem| %> 
            <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
    

        <% end %>
    </ul>
</div>
   

<script>
$(document).ready(function(){
    $('.icone').html('play_arrow');
    $('.flexslider').flexslider();
});
</script>            
        
